// Configuración de H1 - H6, enlaces a, p, etc.  y etiquetas sin
// denominación específica. No class, no ID. 
h1 {
  //text-align: center;
  //margin-top: -900px;
  @include text-shadow($music-h1-shadow);
  font-size: 180px;
  color: $music-h1-color;
  font-weight: bold;
  letter-spacing: -4px;
  border-radius: 20px;
}

h2 {
  //text-align: center;
  //margin-top: 100px;
  @include text-shadow($music-h1-shadow);
  margin-top: 6%;
  font-size: 80px;
  color: $music-h2-color;
  font-weight: bold;
  letter-spacing: -2px;
  border-radius: 20px;
}

h4 {
  color: $music-h4-color;
  //text-align: center;
  //margin-top: 290px;
  margin-top: 12%;
  font-size: 100px;
}

@media (max-width: 1490px) {
  h1 {
    font-size: 140px;
  }

  h2 {
    font-size: 66px;
  }

  h4 {
    font-size: 70px;
  }
}

@media (max-width: 1140px) {
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 60px;
  }

  h4 {
    font-size: 60px;
  }
}

@media (max-width: 1020px) {
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 50px;
    margin-top: 4%;
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 50px;
    margin-top: 4%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 40px;
    margin-top: 6%;
  }
}

@media (max-width: 644px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 28px;
    margin-top: 6%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
    margin-top: 6%;
  }
}

@media (max-width: 448px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 22px;
    margin-top: 4%;
  }

  h4 {
    font-size: 18px;
    margin-top: 4%;
  }
}
